| Game version | Patch | Result |
| --- | --- | --- |
| Linux | Replace SQL | 👍 Works |
| Proton - DirectX 9 |  |  |
| Proton - DirectX 11 | Replace SQL | 👎 Graphical flickering and other anomalies, can't click on map with mouse, can't zoom in or out with mouse wheel |
| Proton - DirectX 11 | Patch script/tool (same change) | 👎 Game crash |
